<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hunts Point Seaport Shipyard, LLC</title>

	<h1 style="text-align: center;">Hunts Point Seaport & Shipyard, LLC</h1> <!-- I centered this. -->
	<h2 style="text-align: center;">Land & Maritime Multi-Use Development</h2> <!-- I centered this. -->
	<!-- <img src="http://www.seahawk.com.ph/images/Ship.gif" style="margin-left: 450px;"> -->
</head>
<body>

<div class="container" style="text-align: center;">
	<a class="btn btn-success btn-lg" href="index.html">Home</a>
	<a class="btn btn-success btn-lg" href="about.html">About Us</a>
	<a class="btn btn-success btn-lg" href="intermodal.html">Intermodal</a>
	<a class="btn btn-success btn-lg" href="">Northeast Barge</a>
	<a class="btn btn-success btn-lg" href="contact.html">Contact</a>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<!--<ol class="carousel-indicators">-->
	<!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
	<!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
	<!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
	<!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
	<!--</ol>-->

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="images/slides/HPSS1.png" alt="Chania">
		</div>

		<div class="item">
			<img src="images/slides/HPSS2.png" alt="Chania">
		</div>

		<div class="item">
			<img src="images/slides/HPSS3.png" alt="Flower">
		</div>

		<div class="item">
			<img src="images/slides/HPSS3.png" alt="Flower">
		</div>
		<div class="item">
			<img src="images/slides/HPSS4.png" alt="Flower">
		</div>
		<div class="item">
			<img src="images/slides/HPSS5.png" alt="Flower">
		</div>
		<div class="item">
			<img src="images/slides/HPSS6.png" alt="Flower">
		</div>
		<div class="item">
			<img src="images/slides/HPSS7.png" alt="Flower">
		</div>
		<div class="item">
			<img src="images/slides/HPSS8.png" alt="Flower">
		</div>
		<div class="item">
			<img src="images/slides/HPSS9.png" alt="Flower">
		</div>
		<div class="item">
			<img src="images/slides/HPSS10.png" alt="Flower">
		</div>
		<div class="item">
			<img src="images/slides/HP-3D01.jpg" alt="Flower">
		</div><div class="item">
		<img src="images/slides/HP-3D02.jpg" alt="Flower">
	</div><div class="item">
		<img src="images/slides/HP-3D03.jpg" alt="Flower">
	</div><div class="item">
		<img src="images/slides/HP-3D04.jpg" alt="Flower">
	</div>
		<div class="item">
			<img src="images/slides/HP-3D05.jpg" alt="Flower">
		</div> <div class="item">
		<img src="images/slides/HP-3D06.jpg" alt="Flower">
	</div>

	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<style>
	.item{
		height: 700px;

	}
</style>


<!-- Header with Background Video -->
<div class="header-container">

	<!-- <div id="video_overlays"></div> -->
	<div class="hidden-xs hidden-sm">
		<!--video preload ="true" autoplay ="autoplay" loop="loop" muted poster ="pic.jpg"-->
		<!--source src="video/HPSS Imode.mp4" type="video/mp4"-->
		<!-- <%= video_tag "HPSS Imode.mp4", preload: true , autoplay: true , poster: "pic.jpg", loop: true , muted: true, class:"video-background" %> -->
		<!--/video--> <!--end of video -->
	</div>
	<div class="visible-xs visible-sm">
	</div>


	<!-- Header with Background Video -->
	<div class="header-container">

		<!-- <div id="video_overlays"></div> -->
		<div class="hidden-xs hidden-sm">
			<!--video preload ="true" autoplay ="autoplay" loop="loop" muted poster ="pic.jpg"-->
			<source src="videos/HPSSvid01.mp4" type="video/mp4" autoplay muted>
			<!-- <%= video_tag "HPSS Imode.mp4", preload: true , autoplay: true , poster: "pic.jpg", loop: true , muted: true, class:"video-background" %> -->
			<!--/video--> <!--end of video -->
		</div>
		<div class="visible-xs visible-sm">
			<!--/video placeholder-->
		</div>
		<div class="intro-text text-center">
			<div class="intro-heading">Intermodal Barge Shipping made easy</div>
			<div class="intro-lead-in">
				Get to market fast! North American barge infrastructure reborn! 
			</div>

			<a href="/users/sign_up" class="page-scroll btn btn-xl tryHPSS Imode">Signup/Free to Use</a>
		</div>


	</div> <!-- end of header container -->


	<!-- What is HPSS Imode Section -->
	<section id="services" class="overlays">

		<div class="container">
			<div class="row">
				<div class="col-lg-3 text-center"></div>
				<div class="col-lg-6 text-center">

					<!-- Header with Background Video -->
					<div class="header-container">

						<!-- <div id="video_overlays"></div> -->
						<div class="hidden-xs hidden-sm">
							<!--video preload ="true" autoplay ="autoplay" loop="loop" muted poster ="pic.jpg"-->
							<source src="videos/HPSSvid01.mp4" type="video/mp4" autoplay="autoplay" loop="loop" muted
									poster="images/slides/HP-3D01.jpg">
							<!-- <%= video_tag "HPSS Imode.mp4", preload: true , autoplay: true , poster: "pic.jpg", loop: true , muted: true, class:"video-background" %> -->
							<!--/video--> <!--end of video -->
						</div>
						<div class="visible-xs visible-sm">
							<!--/video placeholder-->
						</div>


					</div>
				</div> <!-- end of header container -->
				<section id="services" class="overlays">


					<div class="container">
						<div class="row">
							<div class="col-lg-3 text-center"></div>
							<div class="col-lg-6 text-center">
								<h2 class="section-heading">What is Hunts Point Seaport and Shipyard (HPSS)?</h2>
								<h3 class="section-subheading">
									Fresh produce, fresh fish straight to market in a few easy steps!
								</h3>

							</div>
							<div class="col-lg-3 text-center"></div>
							<div class="col-lg-12 text-center">
								<!--img src="img/HPSS Imode-app-browser.png"-->
								<!-- <#%= image_tag "HPSS Imode-app-browser.png" %> -->
								<!--<img src ="../images/gifs/zoner_action_161104-2.gif">-->

								<video width="720" height="800" autoplay>
									<source src="./videos/HPSSvid01.mp4" autoplay>
									<source src="movie.ogg" type="video/ogg">
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
					</div>

				</section>


				<!-- What Can HPSS Imode do for you -->
				<section id="portfolio" class="bg-light-gray">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 text-center"></div>
							<div class="col-lg-6 text-center">
								<h2 class="section-heading">HPSS Intermodal?</h2>
								<h3 class="section-subheading">Providing timely, accurate, low cost product and
									transport transparency.</h3>
							</div>
							<div class="col-lg-3 text-center"></div>

							<div class="col-lg-12 text-center">
								<!--img src="img/HPSS Imode-icon-color.png"-->
								<img src="images/homepage/HPSS-icon-w-text.png" style="height: 300px; width: 300px;">
							</div>

							<div class="col-lg-12 text-center">
								<a href="/users/sign_up" class="page-scroll btn btn-xl tryHPSS Imode">Imode Signup/Free
									to Use</a>
							</div>
						</div>
					</div>
				</section>


				<!-- How does HPSS Imode work -->
				<section id="whatisdoes" class="bg-image">

					<div class="container">
						<div class="row">
							<div class="col-lg-3 text-left">
								<h2 class="section-heading text-white">How HPSS Imode Works...</h2>
								<h3 class="section-subheading text-white">HPSS Intermodal instantly delivers all the on
									board product information for your market, clearly illustrating strategic points
									necessary for fresh delivery.</h3>
								<h3 class="section-subheading text-white">HPSS is the simple solution for New York barge
									and fresh produce distribution.
								</h3>

								<h3 class="section-subheading text-white">Fresh produce and seafood distribution
									bottlnecks removed with HPSS Intermodal. Improved waterfront. Reducing carbon
									emmissions diverting traffic from Bruckner Expressway. Reduce parking adding more
									water access to the community. Communicate with intermodal teams at sea, in trucks,
									or on rail. HPSS combines new jobs with no union labor wages, and more efficient sea
									transport!
								</h3>
							</div>
							<div class="col-lg-9 text-center"
								 style="background-color:#fff; padding: 50px 30px 30px 30px;">
								<div class="row">
									<div class="col-lg-4 text-left feature-item">
										<!--img src="img/icon-1.png"-->
										<img src="images/homepage/HPSS-icon-w-text.png">
										<h6 class="feature-title">Maxium bulk shipments, manifest accuracy</h6>
										<p class="feature-description">Instantly view the total cargo, container number
											of units, number of containers, number of buyers, and more. HPSS Imode
											delivers comparable marketplace analysis accurately and fast for the
											discreet shipping distribution decision making process.</p>
										<p class="feature-description">The HPSS Imode team is currently structuring its
											databases of shipping and transport market trends and Port Authority
											standards in order to deliver relative analytical and comparable cost
											analysis. </p>
									</div>
									<div class="col-lg-4 text-left feature-item">
										<!--img src="img/icon-2.png"-->
										<img src="images/icons/greens-icon.png">
										<h6 class="feature-title">Shipping regulation, and restrictions easily
											explained</h6>
										<p class="feature-description">Port docking and registration procedures. </p>
										<p class="feature-description">HPSS Imode efficiently communicates geospacial
											relationships for seaport customers. </p>

									</div>
									<div class="col-lg-4 text-left feature-item"> <!-- Garen added this. -->
										<img src="images/icons/grapes-icon.png">
										<h6 class="feature-title">Building Stacking plans</h6>
										<p class="feature-description">What is the best use of your site? Is it
											commercial, residential, industrial, mixed-use, community facility,
											affordable housing, a medicial office, an airport or a school? </p>
										<p class="feature-description">HPSS Imode will assist any site development with
											clear template of what is existing (sometimes non-conforming uses) and what
											is allowable. HPSS Imode breaks down uses in a concise and valid stacking
											plan so all stackholders can know when at the time they need to know.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4 text-left feature-item">
										<img src="images/icons/greens-icon.png">
										<h6 class="feature-title">Special Districs and commercial overlays</h6>
										<p class="feature-description">These certain districts throughout the city and
											planned to encourage specific uses, or encourage economic activity. The
											typical regulatory zoning constraints may alternate depending on the
											district that can challenge a development. </p>
										<p class="feature-description">HPSS Imode helps teams visualize and understand
											the contextual relationships in an easy to your retrievable business to
											business networking system.</p>
									</div>
									<div class="col-lg-4 text-left feature-item">
										<img src="images/icons/lettuce-icon.png">
										<h6 class="feature-title">Landmarks</h6>
										<p class="feature-description">Today, more than 35,000 buildings throughout New
											York City are protected as individual landmarks, interior landmarks, scenic
											landmarks, or as part of 114 historic districts. Safeguarding the genius of
											place helps New York City's assure its history and its unique character
											amoung cities of the world. </p>
										<p class="feature-description">Benefits and restrictions exist with landmark
											buildings. HPSS Imode allows customers to understand and plan for the
											challenges and opportunities that exist with these buildings.</p>
									</div>
									<div class="col-lg-4 text-left feature-item">
										<img src="images/icons/trumpet.png">
										<h6 class="feature-title">Setbacks</h6>
										<p class="feature-description">With HPSS Imode complicated height factors, tower
											setbacks, sky exposure planes, and more are easily verified with 3D models,
											sections, plans, and elevations. Relationships to the site and the building
											context and rapidly explored with HPSS Imode. </p>
										<p class="feature-description">These relationships are in 2 dimensions as well
											as three dimensions. Each restriction is clearly marked in corresponding
											section of the zoning text and comparable with our comphrensive database and
											interoperable links to the public documents for comparison.</p>
									</div>
									<div class="col-lg-4 text-left feature-item">
										<img src="images/icons/open-book.png">
										<h6 class="feature-title">Building Bonuses and lot mergers</h6>
										<p class="feature-description">Bargain with the city, add a plaza, a non-profit
											center, a dance school, a public plaza, whatever you desire...planning your
											development masterpiece with HPSS Imode is easy. </p>
										<p class="feature-description">HPSS Imode's extensive database allows users to
											maximize the each building lot by allowing users to select adjancent and at
											times lots within the district, calculating all the available air rights
											transferable to a lot.</p>
									</div>
									<div class="col-lg-4 text-left feature-item">
										<img src="images/icons/grapes-icon.png">
										<h6 class="feature-title">Explore building types and opportunities</h6>
										<p class="feature-description">Rapidly view and compare building types. How does
											a tower on base development opportunity compare to tower setback from the
											street? How will a public plaza compare to a community facility
											devlopment? </p>
										<p class="feature-description">The HPSS Imode platform eases building
											development desicion making among the whole team in an marvelous business to
											business network.</p>
									</div>
									<div class="col-lg-4 text-left feature-item">
										<img src="images/icons/grapes-icon.png">
										<h6 class="feature-title">Explore building geometry and site context</h6>
										<p class="feature-description">HPSS Imode allows customers to rapidly prototype
											building shapes and gemotries for enhanced feasibility and project
											development planning. </p>
										<p class="feature-description">HPSS Imode comminicates contextual relationships
											in 2 dimensional maps, as well as 3D mapping interface. HPSS Imode </p>
									</div>

								</div>
							</div>

						</div>
					</div>


				</section>


				<!-- Who is for -->
				<section id="whoisfor" class="bg-image-2">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 text-center">
								<img src="images/homepage/HPSS-icon-w-text-white400px.png">

							</div>
							<div class="col-lg-1 text-center"></div>
							<div class="col-lg-5 text-left">
								<h2 class="section-heading text-white whofor">Who is HPSS Imode for?</h2>
								<h3 class="section-subheading text-white">HPSS Imode saves time and money for perisble
									goods barge transport, fresh produce, fish markets, environmental experts, and
									more.</h3>
								<h2 class="section-subheading text-white">"Everyone knows the New York City fresh
									produce disribution lacks transparency; an application to demystify transactional
									and logistics of fresh food is not just welcomed, it's essential!"</h2>
								<h2 class="text-white">
									— Bethann Rooney <br>
									<span class="italic">Assistant Director, Port Authority of NY and NJ</span>
								</h2>
							</div>
							<div class="col-lg-1 text-center"></div>
						</div>
					</div>
				</section>


				<!-- Video Intro -->
				<section style="padding: 50px 0">
					<div class="container">
						<div class="row">
							<div class="col-lg-2 text-center"></div>
							<div class="col-lg-8 text-center">
								<h2 class="section-heading">HPSS...a Bronx Home Run...</h2>
								<h3 class="section-subheading">with speed and accuracy.</h3>
								<div class="video_box" style="float:left; height:auto;" id="what_does_it_do">
									<!--video width="853" height="480" controls-->
									<!--source src="video/HPSS Imode_intro.mp4" type="video/mp4"-->
									<!--<%= video_tag "HPSS ImodeWhatDoesItDo.mp4", size: "853x480", controls: true , autobuffer: true , preload: true , autoplay: false , poster: "image_eye.jpg", loop: true , muted: true %>-->
									<!--/video-->
								</div>
							</div>
							<div class="col-lg-2 text-center"></div>
						</div>
					</div>
				</section>


				<!-- Subscription -->
				<section style="padding: 0px 0">
					<div class="container">

						<div class="row subscription-box">
							<div class="col-lg-2 text-center"></div>
							<div class="col-lg-8 text-center">
								<h3 class="section-subheading text-gray big-text cero-bottom">HPSS Imode is brought to
									you by nationally recognized port officials, shipyard experts, marine engineers,
									architects, and computer scientists.</h3>
								<button type="submit" class="subscribe-submit">Start using HPSS Imode!</button>
								<p class="disclaimer">HPSS Imode is free. No hassles.</p>
							</div>
							<div class="col-lg-2 text-center"></div>
						</div>
					</div>
				</section>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>

<link href="stylesheets/agency.css" rel="stylesheet"/>
<link href="stylesheets/agency.min.css" rel="stylesheet"/>
<link href="stylesheets/custom.css" rel="stylesheet"/>
<link href="index.css" type="text/css" rel="stylesheet">

<script>
    var video = document.getElementById('what_does_it_do');

    document.onkeypress = function (e) {
        if((e || window.event).keyCode === 32 /* space key */) {
            video.paused ? video.play() : video.pause();
        }
    }
</script>