   <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Intermodal Transportation made easy</div>
                <div class="intro-lead-in">
					                	Providing timely, accurate, low cost barge transport transparency.
                </div>
                <a href="/users/sign_up" class="page-scroll btn btn-xl">Hunts Point Intermodal Channel for free, right here.</a>
            </div>
        </div>
    </header>

    <!-- About Us -->
    <section id="AboutUs">
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
    			 <%= image_tag "newyork-overlay.png" %>
    		</div>
    		<div class="col-md-6">
                    <h2 class="section-heading">About Us</h2>    		
					<p>The New York City skyline you see today is also a timeline, across both trends in architectural creativity and ever-changing rules they must follow for their vision to be realized. </p>
					<p>The New York City Zoning Laws were originally conceived in 1916 in response to innovations that made larger and larger structure possible, resulting in a critical need to set aside space  for light, air, public use… In the intervening century zoning laws were expanded with increasing complexity, to include preservation of historic structures and contexts, economic incentives, and other needs of the City’s ever growing and changing communities.</p>
					<p>But the labor intensive process for builders to sort through all of this paperwork remained relatively unchanged...until now.</p>
					<p>Enter HPSS Imode! In just moments, with a few clicks and keystrokes, architects, developers, owners, realtors and community boards are live with an interactive, visual model of what can be built in the designated space, HPSS Imode covers all applicable zoning parameters, including:  maximum building bulk  and height; the allowable use of the site;  special districts and landmark rules; required  setbacks and much more. </p>
					<p>For example, here is how  the City zoning website describes requirements for an iconic type of “brownstone” district :</p>

					<blockquote>
					<p>“The street wall of a new building, on any lot up to 50 feet wide, must be as deep as one adjacent wall and no deeper than the other. On lots wider than 50 feet, the street wall of a new build­ing may be no closer to the street line than the street wall of an adjacent building. A street wall need not be located farther from the street line than 15 feet.” </p>
					</blockquote>
										
					<p>Quite a distance from there to what it all means for your project. HPSS Imode generates specific measurements -- and visuals --  in seconds!</p>
    		</div>
    		<div class="col-md-12">
    			<hr>
    		</div>
    	</div>
    </div>    
    </section>
    
    
    <!-- Team Section -->
    <section id="team"  style="margin:0px; padding:0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center"></div>
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">Meet Our Team</h2>
                    <h3 class="section-subheading text-muted">The HPSS Imode team includes innovative and experienced architects, realtors and computer scientists who know firsthand that in the 21st century,  interoperability  across the disciplines of Architecture, Engineering, Construction, Ownership (AECO) is key to successful completion of exceptional projects.</h3>
                </div>
                <div class="col-lg-2 text-center"></div>

            </div>
            
            
                    
                <div class="row">
                <div class="col-sm-2"></div>
				<div class="col-sm-8">

                <div class="team-member">
                        <%= image_tag "0.jpg", class: "img-responsive img-circle" %>
                        <h4>March Chadwick</h4>
                        <p class="text-muted">Founder</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        <p style="margin-top:50px;">
                        	March W. Chadwick, AIA is a veteran of the architectural profession since 1994. He is an architect, consultant, professor and software developer. March’s consultancy business has grown particularly with Building Information Modeling (BIM) projects and has sponsored continued growth in design of systems and software development. March's skills managing and operating a successful practice, successful record as an architect, deep knowledge of the world’s most complicated zoning text, and relationships within the real estate industry are key to the development of HPSS Imode.

								March is a software developer with experience in three dimensional design and algorithms used for development of large infrastructure and civil planning projects.

							March is a LEED AP architect and member of the American Institute of Architects, Building Smart Alliance, Municipal Arts Society, Cooper Hewitt Design Museum, Queens Chamber of Commerce and numerous community groups. He has served as principal of M.Arch Architects in New York City since 2003.

                        </p>
                </div>

                
                </div>

                <div class="col-sm-2">

                        

               </div>
               <div class="col-sm-2"></div>


               </div>
            
            
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "1.jpg", class: "img-responsive img-circle" %>
                        <h4>William Kelly</h4>
                        <p class="text-muted">Lead Business Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        <p style="padding-top:25px;">
                        	William Kelly is a software engineer at Google.  Will’s experience as a programming and advertiseing engineer compliments his background in economics and computer science.  He is a designer, programmer and entrepreneur.  </p>
                        	<p>William has built up a wide range of experience including real estate finance while working at KGS-Alpha Capital Markets, web development and design while single-handedly launching the corporate website Ameyaep.com, and leadership while serving on the executive boards of Emory’s Economics Society and Sailing Team.  William’s experience, strong presence and aptitude for business and strategy are key to the success of HPSS Imode.</p>
                        
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "2.jpg", class: "img-responsive img-circle" %>
                        <h4>Gustavo Marval</h4>
                        <p class="text-muted">Project Engineer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        <p style="padding-top:25px;">
                        	Gustavo is an adept business manager capable of managing crews of designers, labors, regulators, and construction teams. Gustavo is a disciplined business organizer with a sensitivity to good design.                        </p>

							<p>Gustavo is an asset to M.Arch Architects because of his ability to think outside the box as an entrepreneur, his intense hungry to learn, his enjoyment of managing design staff, and his ability to communicate complicated technical and construction detailing and scheduling information to construction teams and clients in a clearly and concisely.</p>
                        

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag "3.jpg", class: "img-responsive img-circle" %>
                        <h4>Anthony Quivers</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        <p style="padding-top:25px;">
                        Anthony holds a Master of Architecture (MArch) from California College of the Arts. Anthony's undergraduate studies was a Bachelor of Science in Aerospace Engineering with Information Technology from the Massachusetts Institute of Technology. In addition Anthony holds a Graduate Certificate in Information Technology from Rensselaer Polytechnic Institute.</p>

						<p>Anthony serves the M.Arch team in many aspects of data management associated with BiM technology, project feasibility customer service, and construction document production.

Athony's prior working experience at Pathrule Infographics including development of user interface for political site. </p>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    

<iframe src="https://webchat.botframework.com/embed/AshikTestBot?s=zrfmzz0IiqA.cwA.T5Y.ywdW-HzFpCSvWSBEiLpu26SXjQftINFS2WKZRgD27Hc"
        style="height: 502px; max-height: 502px;"></iframe>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>